@import url("./font.css");

body {
  font-weight: 400;
  font-family: "Montserrat", sans-serif, Arial, Helvetica;
  background-color: var(--color-white);
}

html,
body {
  color: var(--color-text);
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body ul,
body ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body ol > li::marker {
  font-weight: inherit;
}

body a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield !important;
  -moz-appearance: textfield !important;
}

/* --- UI styles --- */

/* -- Container -- */

.container-wide {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1320px;
}

/* -- Typography -- */

.main-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.second-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.small-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

@media (min-width: 1200px) {
  .main-title {
    font-size: 32px;
    line-height: 24px;
  }

  .second-title {
    font-size: 26px;
    line-height: 32px;
  }

  .small-title {
    font-size: 21px;
  }
}

/* -- Fields -- */

.inputbox {
  position: relative;
  height: fit-content;
}

.inputbox.additional {
  z-index: 1;
}

.input,
.textarea {
  padding: 15px;
  height: 56px;
  font-size: 13px;
  line-height: 24px;
  width: 100%;
  border: 1px solid var(--color-gray-opacity-15);
  transition: border-color 0.3s ease;
}

.label {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-gray-opacity-75);
  transition: all 0.3s ease;
}

.textarea + .label {
  top: 28px;
}

.input.error {
  border-color: var(--color-error);
}

.input:not(.error):hover,
.input:not(.error):focus {
  border-color: var(--color-gray-opacity-75);
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label,
.textarea:focus + .label,
.textarea:not(:placeholder-shown) + .label {
  transform: none;
  top: 0;
  font-size: 9px;
}

.input::placeholder,
.textarea::placeholder {
  font-weight: 500;
  color: var(--color-gray-opacity-75);
}

.textarea {
  resize: none;
  min-height: 124px;
  width: 100%;
  line-height: 16px;
}

/* -- File input -- */
.file {
  position: relative;
}

.file-label {
  padding: 15px 32px;
  border: 1px dashed var(--color-gray-99);
}

.file-label.active {
  border-color: var(--color-brand);
  color: var(--color-brand);
}

.file-label.active .file-label-text {
  color: var(--color-brand);
}

/* -- Custom checkbox */
.custom-checkbox-wrapper {
  position: relative;
}

.checkbox-input {
  display: none;
  width: 0;
  height: 0;
}

.custom-checkbox-input {
  position: relative;
  display: flex;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-brand);
}

.custom-checkbox-input::after {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  transition: background-color 0.3s ease;
}

.checkbox-input:checked + .custom-checkbox-label .custom-checkbox-input::after {
  background-color: var(--color-brand);
}

.custom-checkbox-label {
  justify-content: center;
  gap: 10px;
  font-size: 9px;
  line-height: 11px;
  color: var(--color-gray-66);
}

.custom-checkbox-wrapper span.error {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: var(--color-error);
}

@media (min-width: 769px) {
  .input {
    font-size: 14px;
  }
  .label {
    font-size: 14px;
  }

  .textarea {
    min-height: 98px;
    font-size: 14px;
  }

  .file-label {
    padding: 23px 46px;
  }

  .custom-checkbox-label {
    justify-content: flex-start;
    font-size: 12px;
  }

  .custom-checkbox-wrapper span.error {
    width: auto;
  }
}

/* -- Select -- */
.choices {
  margin: 0;
  height: fit-content;
  overflow: visible;
}

.choices__inner {
  padding: 7.5px 28px 7.5px 11px;
  display: flex;
  min-height: 56px;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-gray-opacity-15);
  border-radius: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  overflow: visible;
  z-index: 3;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item,
.choices__input {
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
}

.choices__list[aria-expanded]
  .choices__list:not([aria-multiselectable])
  .choices__item:not(:first-child) {
  position: relative;
  padding: 5px 10px 5px 28px;
}

.choices__list[aria-expanded] .choices__list:not([aria-multiselectable]) {
  padding: 10px;
  word-break: initial;
}

.choices__list[aria-expanded]
  .choices__list:not([aria-multiselectable])
  .choices__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 4px;
  width: 15px;
  height: 15px;
  border: 1px solid var(--color-gray-opacity-25);
}

.choices__list[aria-expanded]
  .choices__list:not([aria-multiselectable])
  .choices__item:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 6px;
  width: 13px;
  height: 13px;
  background-color: transparent;
}

.choices__list[aria-expanded]
  .choices__list:not([aria-multiselectable])
  .choices__item:not(:first-child).is-selected::before {
  border-color: var(--color-brand);
}

.choices__list[aria-expanded]
  .choices__list:not([aria-multiselectable])
  .choices__item:not(:first-child).is-selected::after {
  background-color: var(--color-brand);
  opacity: 1;
}

.choices__list[aria-expanded] {
  z-index: 2;
}

.choices__list[aria-expanded] .choices__item.is-selected {
  /* background-color: var(--color-text); */
  /* color: var(--color-white); */
  /* opacity: 1; */
}

.choices__list--single .choices__item {
  color: var(--color-gray-opacity-75);
}

.choices[data-type*="select-one"]::after {
  content: "";
  width: 6px;
  height: 6px;
  border: 2px solid var(--color-gray-opacity-75);
  border-radius: 2px;
  border-top: transparent;
  border-left: transparent;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  right: 15px;
  top: 50%;
  pointer-events: none;
}

.choices[data-type*="select-one"].is-open::after {
  margin-top: 0;
  border: none;
  border-top: 2px solid var(--color-gray-opacity-75);
  border-left: 2px solid var(--color-gray-opacity-75);
}

.choices__list--single {
  padding: 4px 12px 4px 4px;
  width: fit-content;
  max-width: 100%;
  margin-right: -10px;
}

.choices__list--single .choices__item--selectable {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.choices__list--multiple {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.choices__item--selectable {
  min-width: 0;
}

.choices__list[aria-multiselectable] {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.choices__list[aria-multiselectable] .choices__item {
  padding: 4px 11px;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid rgba(48, 59, 69, 0.25);
}

.choices__list[aria-multiselectable] .choices__item.is-selected {
  border-color: var(--color-text);
  background-color: var(--color-text);
  color: var(--color-white);
}

.choices {
  min-width: 0;
}

.choices__list--multiple .choices__item {
  position: relative;
  font-size: 13px;
  padding: 2px 4px;
  margin: 0;
  flex-shrink: 0;
  background-color: transparent;
  color: var(--color-gray-opacity-75);
  border: none;
}

.choices__list--multiple .choices__item:not(:last-child)::after {
  content: ",";
}

.choices__list--multiple .choices__item .choices__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: none;
  border: none;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: transparent;
  border: none;
}

.choices__input {
  background-color: transparent;
}

.choices__list--multiple:has(.choices__item)
  + .choices__input.choices__input--cloned {
  display: none;
}

.choices[data-type="select-multiple"] .choices__list--dropdown {
  padding: 15px 18px;
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 0;
}

/* custom option */

@media (min-width: 769px) {
  .choices__inner {
    font-size: 14px;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item,
  .choices__list--multiple .choices__item,
  .choices__input {
    font-size: 14px;
  }
}

/* -- Buttons -- */

.main-btn {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 56px;
  background-color: var(--color-brand);
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: var(--color-white);
  transition: background-color 0.3s ease;
}

.main-btn:hover,
.main-btn:focus,
.main-btn:active {
  background-color: var(--color-brand-active);
}

@media (min-width: 769px) {
  .main-btn {
    min-height: 72px;
    font-size: 18px;
  }
}

/* Tooltip */

.field-tooltip {
  position: relative;
  display: flex;
  z-index: 3;
}

.field-tooltip::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;

  width: 0;
  height: 0;
  opacity: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--color-text);
  transition: opacity 0.3s ease;
}

.field-tooltip__icon {
  flex-shrink: 0;
}

.field-tooltip__content {
  padding: 8px;
  position: absolute;
  top: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
  background-color: var(--color-text);
  color: var(--color-white);
  font-size: 12px;
  line-height: 12px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.field-tooltip--top .field-tooltip__content {
  top: auto;
  bottom: calc(100% + 12px);
}

.field-tooltip--top::after {
  top: -12px;
  bottom: auto;
  border-bottom: none;
  border-top: 12px solid var(--color-text);
}

.field-tooltip:hover::after,
.field-tooltip:focus::after,
.field-tooltip.is-active::after,
.field-tooltip:hover .field-tooltip__content,
.field-tooltip:focus .field-tooltip__content,
.field-tooltip.is-active .field-tooltip__content {
  opacity: 1;
}

@media (min-width: 769px) {
  .field-tooltip__content {
    padding: 12px;
    min-width: 292px;
  }
}
